@import '~angular-material/angular-material';
md-dialog.fullscreen-dialog {
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    height: 80%;
    border-radius: 0;
    overflow: hidden;
}

md-dialog.fullscreen-dialog iframe.lightbox {
    position: absolute;
    height: 100%;
    right: 0px;
    left: 0px;
    width: 100%;
}
span.content-img {
    margin-top: -7px;
    display: block;
    float: right;
    margin-left: -5px;
}
