<bookshelf></bookshelf>
<script id="bookshelf.template.html" type="text/ng-template">
<div ng-cloak="" class="tabsdemoDynamicHeight">
<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="$ctrl.activetabs" md-no-select-click>
        <md-tab label="{{item}}" ng-click="$ctrl.endSelected(item)" ng-repeat="item in $ctrl.filters">
            <md-content class="md-padding">
                <div ng-view></div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
</div>
</script>

<script id="book.template.html" type="text/ng-template">
  <md-card flex="100">
    <img ng-src="http://localhost:3000/{{$ctrl.data.cover}}" class="md-card-image" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{$ctrl.data.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
        {{$ctrl.data.description}}
    </md-card-content>
    <md-card-actions layout="row" layout-align="first center">
      <md-button ng-click="$ctrl.openLightbox($ctrl.data)"><ng-md-icon icon="remove_red_eye"></ng-md-icon><span class="content-img">View</span></md-button>
      <md-button ng-href="{{$ctrl.pdfurl}}" target="_new"><ng-md-icon icon="file_download"></ng-md-icon><span class="content-img">Download</span></md-button>
    </md-card-actions>
  </md-card>

</script>

<script id="lightbox.html" type="text/ng-template">
<md-dialog aria-label=Lightbox class="modal-body fullscreen-dialog lightbox-modal-body" md-swipe-left="Lightbox.nextImage()" md-swipe-right="Lightbox.prevImage()">
<md-toolbar>
    <div class="md-toolbar-tools lightbox-nav">
        <md-button class="md-icon-button close-button" aria-hidden="true" ng-click="closeModal()">×</md-button>
        <div layout="row" ng-if="Lightbox.images.length > 1" flex layout-fill layout-align="center center"><a class="md-button" ng-click="Lightbox.prevImage()">‹ Previous</a> <a hide ng-href="{{Lightbox.imageUrl}}" target="_blank"
                class="md-button" title="Open in new tab">Open image in new tab</a> <a class="md-button" ng-click="Lightbox.nextImage()">Next ›</a></div>
    </div>
</md-toolbar>
<div layout="row layout-fill" layout-align="center center" ng-show="Lightbox.loading" class="lightbox-loading">
    <md-progress-circular md-mode="indeterminate" md-diameter="90"></md-progress-circular>
</div>
<div>
    <iframe class="lightbox" src="{{url}}"></iframe>
</div>
</md-dialog>
</script>
